body{
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;               
    flex-direction: column;     
    justify-content: center; 
}

.header{
    margin-left: 13%;
    /* margin-top: 10%; */
    margin-top: 9%;
    width: 290px;
    text-align: center;
}

img{
    width: 125px;
    height: 170px;
    border-color: black;
    border: 1px solid black;
}

p {
    max-width: 300px;
    line-height: 1.5;
    font-size: 15px;
}

h1{
    margin-bottom: -7px;
    font-size: 35px;
}

.link1{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: -35%;
}

.link2{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link3{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link4{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link5{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.link-text{
    max-width: 430px;
    font-size: 15px;
    font-style: italic;
}

.projects {
    margin-top: 1%;
}

@media (max-width: 450px) {
  .link1, .link2, .link3, .link4, .link5 {
    margin-left: 10%;  
    margin-top: 5%;
  }
}