body{
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace
}

.header{
    margin-left: 13%;
    margin-top: 10%;
    width: 290px;
    text-align: center;
}

img{
    width: 125px;
    height: 170px;
    border-color: black;
    border: 1px solid black;
}

p {
    max-width: 300px;
    line-height: 1.5;
    font-size: 15px;
}

h1{
    margin-bottom: -7px;
    font-size: 35px;
}

.link1{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: -35%;
}

.link2{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link3{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link4{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link5{
    font-size: 18px;
    color: black;
    margin-left: 57%;
    margin-top: 2%;
}

.link-text{
    max-width: 430px;
    font-size: 15px;
    font-style: italic;
}